body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 10vh;
}

h1 {
    color: #333;
}

form, .profile {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
textarea{
    resize: none;
}
.risk-selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;
}

.risk-selector input {
    display: none;
}

.risk-selector label {
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.low-risk {
    background-color: green;
}

.medium-risk {
    background-color: orange;
}

.high-risk {
    background-color: red;
}

.risk-selector input:checked + label {
    outline: 3px solid black;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}
